backend-services/node-red-flows/aqi-dashboard.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Monitor & Alert",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab2",
        "type": "tab",
        "label": "Control Center",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "flow2",
        "name": "AQI Sensor Data",
        "topic": "aqi/sensor/+/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "validate-ui",
                "alert-logic"
            ]
        ]
    },
    {
        "id": "validate-ui",
        "type": "function",
        "z": "flow2",
        "name": "Parse & Route",
        "func": "if (!msg.payload) return null;\n\n// Create separate messages for dashboard widgets\nvar tempMsg = { payload: msg.payload.temperature };\nvar co2Msg = { payload: msg.payload.co2_ppm };\nvar rssiMsg = { payload: msg.payload.rssi || 0 };\n\nreturn [tempMsg, co2Msg, rssiMsg];",
        "outputs": 3,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "ui-temp"
            ],
            [
                "ui-co2",
                "ui-co2-chart"
            ],
            [
                "ui-rssi"
            ]
        ]
    },
    {
        "id": "alert-logic",
        "type": "function",
        "z": "flow2",
        "name": "Check Thresholds",
        "func": "var co2 = msg.payload.co2_ppm;\nvar msgAlert = null;\n\nif (co2 > 1500) {\n    msgAlert = { payload: \"WARNING: High CO2 Detected! \" + co2 + \" ppm\" };\n}\n\nreturn msgAlert;",
        "outputs": 1,
        "x": 350,
        "y": 250,
        "wires": [
            [
                "ui-alert-toast",
                "debug-alert"
            ]
        ]
    },
    {
        "id": "ui-alert-toast",
        "type": "ui_toast",
        "z": "flow2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Alert Notification",
        "x": 600,
        "y": 250,
        "wires": []
    },
    {
        "id": "debug-alert",
        "type": "debug",
        "z": "flow2",
        "name": "Alert Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui-temp",
        "type": "ui_gauge",
        "z": "flow2",
        "name": "Temperature",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 600,
        "y": 50,
        "wires": []
    },
    {
        "id": "ui-co2",
        "type": "ui_gauge",
        "z": "flow2",
        "name": "CO2 PPM",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 Level",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 2000,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui-co2-chart",
        "type": "ui_chart",
        "z": "flow2",
        "name": "CO2 Trend",
        "group": "group2",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CO2 Trend (1h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ui-rssi",
        "type": "ui_text",
        "z": "flow2",
        "group": "group1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "WiFi Signal",
        "label": "RSSI (dBm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui-control-restart",
        "type": "ui_button",
        "z": "flow2",
        "name": "Restart Sensor",
        "group": "group3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESTART SENSOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"cmd\": \"restart\"}",
        "payloadType": "json",
        "topic": "aqi/sensor/control",
        "topicType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "mqtt-out-control"
            ]
        ]
    },
    {
        "id": "mqtt-out-control",
        "type": "mqtt out",
        "z": "flow2",
        "name": "Send Command",
        "topic": "aqi/sensor/all/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Real-time Metrics",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group2",
        "type": "ui_group",
        "name": "Historical Data",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group3",
        "type": "ui_group",
        "name": "Device Control",
        "tab": "tab2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "emqx",
        "port": "1883",
        "clientid": "node-red-dashboard",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    }
]